html{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 width:100%;
 max-width: 1024px; 
 text-align: left;
}

body{
    background-color: linen;
    color:#311200;
    padding-left:4%;
    padding-right:4%;
}

div.section{
    background-color: rgb(255, 219, 172);
    padding: 6px 12px 12px 12px;
    border-radius: 12px;
}

p{
    padding:0;
}

h3{
    margin-top: 6px;
    margin-bottom: 0;
}

h4{
    margin:0;
}

img{
    width:100%;
}

div.vsplit{
    display:flex
}

div.vsplit-content{
    width: 50%;
    margin:5px;
}

iframe{
    margin-top:12px;
    margin-bottom:12px;
    width:100%;
    min-height: 240px;
}

ul.navbar{
    list-style: none;
    margin:0;
    margin-bottom:12px;
    padding: 12px 0 12px 0;
    background-color: rgb(255, 219, 172);
    border-radius: 12px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -5px; /*-6 instead of 0 to hide stuff scrolling past the corners*/
}

.navbar li{
    display:inline;
    margin:0;
    padding:0;
}

.navbar a{
    padding:12px;
    margin:0;
}

.navbar li:first-child a{
    padding-left:12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar li:last-child a{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.active a{
    background-color: #04AA6D;
}